<%= form_with(model: facility_space, local: true) do |form| %>
  <% if facility_space.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(facility_space.errors.count, "error") %> prohibited this facility_space from being saved:</h2>

      <ul>
      <% facility_space.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :height %>
    <%= form.text_area :height, id: :facility_space_height %>
  </div>

  <div class="field">
    <%= form.label :width %>
    <%= form.text_area :width, id: :facility_space_width %>
  </div>

  <div class="field">
    <%= form.label :length %>
    <%= form.text_area :length, id: :facility_space_length %>
  </div>

  <div class="field">
    <%= form.label :rate %>
    <%= form.text_field :rate, id: :facility_space_rate %>
  </div>

  <div class="field">
    <%= form.label :avatar %>
    <%= form.hidden_field :image, value: @facility_space.cached_image_data %>
    <%= form.file_field :image, id: :photo_image_data %>
  </div>

  <div class="field">
    <%= form.label :storage_facility_id %>
    <%= form.text_field :storage_facility_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
