<!--Use form tag because we don't have a model-->
<%= form_for :contact do |f| %>

  <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
  </p>

  <p>
      <%= f.label :message%>
      <%= f.text_field :message %>
  </p>

  <p>
    <%= f.submit %>
</p>

<% end %>