<p id="notice"><%= notice %></p>

<h1>Storage Facilities</h1>

<div class="storage-facility-display">
  <div>
    <% if @storage_facilities.present? %>
      <% @storage_facilities.each do |storage_facility| %>
          <%= image_tag storage_facility.image_url(:medium), :class => "style_image" unless storage_facility.image_data.nil? %>
          <figcaption><%= link_to 'Show', storage_facility %></figcaption>
        <% end %>
      <% end %>
  </div>
</div>


<h3>Find Storage</h3>

<%= form_tag(storage_facilities_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Storage Facilities" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>


  <p><%= all_storage_facilities_map(@storage_facilities, 10) %></p>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Storage Facility', new_storage_facility_path %>
<% end %>
