<p id="notice"><%= notice %></p>

<h1>Storage Facilities</h1>

<table>
  <thead>
    <tr>
      <th>Street address</th>
      <th>Suburb</th>
      <th>Postcode</th>
      <th>State</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% if @storage_facilities.present? %>
    <% @storage_facilities.each do |storage_facility| %>
      <tr>
        <td><%= storage_facility.street_address %></td>
        <td><%= storage_facility.suburb %></td>
        <td><%= storage_facility.postcode %></td>
        <td><%= storage_facility.state %></td>
        <td><%= storage_facility.country %></td>
        <td><%= image_tag storage_facility.image_url(:medium), :class => "style_image" unless storage_facility.image_data.nil? %></td>
        <td><%= link_to 'Show', storage_facility %></td>

        <td>

        <% if policy(storage_facility).update? %>
        <%= link_to 'Edit', edit_storage_facility_path(storage_facility) %></td>
        <td><%= link_to 'Destroy', storage_facility, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </td>
        
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<h3>Find Storage</h3>

<%= form_tag(storage_facilities_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Storage Facilities" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>


  <p><%= all_storage_facilities_map(@storage_facilities, 10) %></p>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Storage Facility', new_storage_facility_path %>
<% end %>
