<div class="navbar">
  <% if user_signed_in? %>
    <%= current_user.email %>
      <%= image_tag current_user.profile.image_url(:medium), class: "nav_style_image" if current_user.profile_and_image?  %>

    <%= link_to 'Current Properties', storage_facilities_path(current_user.id) unless current_user.nil? %>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Login', new_user_session_path %>
  <% end  %>
</div>